pkgbase = animloid
	pkgdesc = CLI tabanlı anime izleme ve indirme aracı
	pkgver = 2.7.0
	pkgrel = 1
	url = https://github.com/RetakJunior/AnimLoid
	arch = any
	license = CC-BY-NC-ND-4.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-typer
	depends = python-rich
	depends = python-questionary
	depends = python-requests
	depends = python-packaging
	depends = python-beautifulsoup4
	depends = python-lxml
	depends = python-pycryptodome
	depends = python-appdirs
	depends = python-prompt_toolkit
	depends = python-pyfiglet
	depends = python-py7zr
	source = https://files.pythonhosted.org/packages/source/a/animloid/animloid-2.7.0.tar.gz
	sha256sums = SKIP

pkgname = animloid
